<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
	
	<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Home page</title>
	</ui:define>

	<ui:define name="content">
		Cats are awesome - if you agree : join now !
		
		<b:form id="signupForm">
			<b:panel
				style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Name" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Name" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="name"
							placeholder="Enter your name"
							value="#{mbLogin.name}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Surname" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Surname" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="surname"
							placeholder="Enter your surname"
							value="#{mbLogin.surname}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="username" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="username" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="username"
							placeholder="Enter your username"
							value="#{mbLogin.login}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Password" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Password" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret id="password"
							placeholder="Set your password"
							value="#{mbLogin.password}">
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="password" />
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="cat-width-100" value="Sign Up"
							action="#{mbLogin.register()}" />
					</b:column>
				</b:row>
			</b:panel>
		
		</b:form>
		
	</ui:define>
</ui:composition>
	
	
	
</html>