.blockPage {
opacity: 0 !important;
}

.cat-padding-1rem {
padding: 1rem !important;
}

.cat-width-100 {
width: 100% !important;
}

.cat-top-1rem {
position: relative !important;
top: 1rem !important;
}

.cat-header {
min-height: 10rem !important;
background-color: #8000ff!important;
}

.cat-content {
min-height: calc(100vh - 20rem) !important;
}

.cat-footer {
min-height: 10rem !important;
background-color: #8000ff!important;
}

.cat-flex-justify-content {
display: flex !important;
justify-content: center !important;
}

.cat-flex-align-items {
display: flex !important;
align-items: center !important
}